DISCORD_PUBLIC_KEY=3b87b369d340816455413b049ef80b53f38675ef29da08e760e1ceb3cb96ee77
DISCORD_APPLICATION_ID=1501431340263014410
DISCORD_BOT_TOKEN=your_bot_token_here
PORT=3000

FIREBASE_PROJECT_ID=your_project_id
FIREBASE_CLIENT_EMAIL=your_client_email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
